/viikko2/Verkkokauppa1/target/
/viikko3/LoginEasyBv1/target/
/viikko4/TyhjaProjekti/target/
/viikko6/Laskin/dist/
/viikko5/LyyrakorttiMockito/target/
/viikko2/Verkkokauppa4/target/
/viikko2/Verkkokauppa4/nbproject/
/viikko5/IntJoukkoSovellus/target/
/viikko5/Tennis/target/
/viikko7/KiviPaperiSakset/target/